<ion-content padding  class="no-scroll">  
    <ion-grid ion-fixed>         
        <ion-row>         
          <ion-col center offset-4 >
            <img width="200px" height="200px"  src="assets/logos/ifg.png" alt="LD"/>                    
          </ion-col>               
        </ion-row>  

        <!--+++++++++++++++++++++++++++++++++++++++++++++++++++-->

        <ion-row >
          <ion-col> 
            
            <form (ngSubmit)="login()" #loginForm="ngForm">
              <ion-list padding>
                  <ion-item>
                    <ion-label floating >Email: exemplo@email.com</ion-label>
                    <ion-input 
                        name="email"
                        type="email" 
                        required></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label floating >Senha</ion-label>
                    <ion-input 
                        name="password"
                        type="password" 
                        required></ion-input>
                  </ion-item>                  

              </ion-list>            
              
              <div padding>
                  <button ion-button block [navPush]="pushMain">Entrar</button>    
                  <button ion-button block clear navPop> Cancelar</button>
                </div>
            </form>            
          </ion-col>
        </ion-row>  

        <!--+++++++++++++++++++++++++++++++++++++++++++++++++++-->

        <ion-row></ion-row>               
    </ion-grid>        
</ion-content>