<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  
    <ion-navbar>    
      <ion-title>Novo usuário</ion-title>
  
      <ion-buttons end>
        <button ion-button icon-only color="royal" type="submit" form="formUser">
          <span ion-text  showWhen="ios" >Salvar</span>
          <ion-icon name="md-checkmark" showWhen="android,windows"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
    <ion-list>
      <form (ngSubmit)="saveUser()" #formUser="ngForm" id="formUser">
      
        <ion-item>
          <ion-label floating>Nome</ion-label>
          <ion-input  type="text"
                      name="name"
                      required></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input  type="email"
                      name="email"
                      required></ion-input>
        </ion-item>  
  
        <ion-item>
          <ion-label floating>Senha</ion-label>
          <ion-input  type="password"
                      name="password"
                      minlength="6"
                      required></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating>Confirme a senha</ion-label>
          <ion-input  type="password"
                      name="confirmePassword"
                      minlength="6"
                      required></ion-input>
        </ion-item>
        <br><br>
        <button ion-button block type="submit">Salvar</button>    
        
      </form>
    </ion-list>
    
  </ion-content>
  