<ion-menu [content]="content" color="dark">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
           
          {{p.title}}
        </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-tabs>
  <ion-tab tabIcon="water" tabTitle="Water" [root]="tab1"></ion-tab>
  <ion-tab tabIcon="leaf" tabTitle="Life" [root]="tab2"></ion-tab>
  <ion-tab tabIcon="flame" tabTitle="Fire" [root]="tab3"></ion-tab>
  <ion-tab tabIcon="magnet" tabTitle="Force" [root]="tab4"></ion-tab>
</ion-tabs>`

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>