<!--
  Generated template for the InitialPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Mobile IME - Leitor</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>  
  <ion-grid>            
    <ion-row>         
      <ion-col center offset-3 >
        <img width="200px" height="160px"  src="assets/logos/educacao.png" alt="LD"/>                    
      </ion-col>               
    </ion-row>  
    <ion-row>
      <ion-col>
        <button ion-button block (click)="toLogin()">Login</button>    
        <button ion-button block (click)="toRegister()"clear>Cadastrar</button>
      </ion-col>
    </ion-row>
  </ion-grid>    
</ion-content>